.idea
.code
.zed
build
build-*
buildDir
cmake-build-debug
cmake-build-release
dist-*
description
instances
stride-logs
.venv
venv
subprojects/packagecache
subprojects/.wraplock
subprojects/highs
subprojects/scipoptsuite-*
subprojects/mimalloc-*
subprojects/ConicBundle
.codex
*.log
